
body {

    background-image: url("mainBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navImg {
    position: absolute;
    border-radius: 50%;
    left: 95%;
}

.paper {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 985px;
    height: 450px;

    background-color: rgba(144, 238, 144, 0.6);



    border: 3px solid green;
    padding: 10px;
    text-align: center;
    overflow: auto;

}
.paper2 {
    padding-top: 0px;
    margin-top: 20px;
    height: 200px;

}

.newsTopic {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 65%;


}

.card {
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
}
 #avatar1 {
     left : 20%;

 }

 #avatar2 {

     left: 60%;
 }
 .contactButton {
     left: 50%;
     transform: translateX(-50%);
     position: relative;

 }
.container {
    padding: 2px 16px;
}

.nadpis1 {

    text-decoration: underline;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;

    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.logo-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: darkseagreen;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: red;
}