
body {

    background-image: url("mainBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navImg {

    border-radius: 50%;

}

.paper {

    width: 80%;

    background-color: rgba(144, 238, 144, 0.6);

    margin: auto;

    border: 3px solid green;
    padding: 10px;
    text-align: center;
    overflow: hidden;

}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}